{% extends 'base.html.twig' %}

{% block title %}Afficher des articles{% endblock %}

{% block body %}
  {% for article in articles %}

    <div class="example-wrapper">
      <ul>
        <li>
          {# <a class="answer-link" href="{{ path('afficher_article', { id: article.id }) }}"> #}
            <h1>{{ article.contenu }} </h1>
          {# </a> #}
        </li>
      </ul>
        
    </div>
  {% endfor %}
{% endblock %}